<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webchat.room.RoomMapper">

    <select id="insertRoom" resultType="int">
        INSERT INTO tb_room
        (
            create_dtm
          , host_id
          , room_type
        )
        VALUES
        (
            CURRENT_TIMESTAMP
          , #{userId}
          , #{roomType}
        )
        RETURNING id
    </select>

    <insert id="insertRoomUser">
        INSERT INTO tb_room_user
        (
            user_id
          , room_id
          , join_dtm
          , is_visible
        )
        VALUES
        <foreach collection="userIdList" item="item" separator="," >
        (
            #{item}
          , #{roomId}
          , CURRENT_TIMESTAMP
          <choose>
              <when test="ownId == item">
                , 'Y'
              </when>
              <otherwise>
                , 'N'
              </otherwise>
          </choose>
        )
        </foreach>
    </insert>

    <select id="getRoom" resultType="com.webchat.room.object.RoomSearchResultObject">
        SELECT tr.*
             , STRING_AGG(tu.name, ', ') room_name
        FROM tb_room tr
        JOIN tb_room_user tru ON tr.id = tru.room_id
        JOIN tb_user tu ON tu.id = tru.user_id
        WHERE tru.user_id != #{userId}
          AND tr.id = #{roomId}
        GROUP BY tr.id
        ORDER BY tr.id
    </select>

    <select id="getMyRooms" parameterType="int" resultType="com.webchat.room.object.RoomSearchResultObject">
        SELECT tr.*
             , (
                    SELECT STRING_AGG(u.name, ', ')
                    FROM tb_room_user ru
                    JOIN tb_user u ON u.id = ru.user_id
                    WHERE ru.room_id = tr.id
                      AND ru.user_id != #{id}
                ) room_name
        FROM tb_room tr
        JOIN tb_room_user tru ON tr.id = tru.room_id
        WHERE tru.user_id = #{id}
          AND tru.is_visible = 'Y'
        ORDER BY id
    </select>

    <delete id="deleteRoomUser" parameterType="int">
        DELETE FROM tb_room_user
        WHERE room_id = #{roomId}
          AND user_id = #{userId}
    </delete>

    <delete id="deleteRoom" parameterType="int">
        DELETE FROM tb_room
        WHERE id = #{id}
    </delete>

    <select id="getHiddenUserCount" resultType="int">
        SELECT COUNT(1)
        FROM tb_room_user
        WHERE room_id = #{id}
          AND is_visible = 'N'
    </select>

    <update id="updateUserVisible" parameterType="int">
        UPDATE tb_room_user
        SET is_visible = 'Y'
        WHERE room_id = #{id}
          AND is_visible = 'N'
    </update>

    <select id="getRoomUserList" resultType="int">
        SELECT user_id
        FROM tb_room_user
        WHERE room_id = #{id}
    </select>

    <select id="getRoomType" resultType="String">
        SELECT room_type
        FROM tb_room
        WHERE id = #{roomId}
    </select>

    <update id="updateVisibleState">
        UPDATE tb_room_user
        SET is_visible = 'N'
        WHERE room_id = #{roomId}
          AND user_id = #{userId}
    </update>

    <select id="validateChatData" resultType="String">
        SELECT
            CASE
                WHEN tru.id IS NULL
                THEN '401,채팅방 권한이 없습니다.'
            END
        FROM tb_room tr
        LEFT JOIN tb_room_user tru ON tru.room_id = tr.id
                                  AND tru.user_id = #{userId}
        WHERE tr.id = #{msg.roomId}
    </select>
</mapper>