<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webchat.user.UserMapper">
    <select id="getUsers" resultType="Map">
        SELECT tu.id
             , tu.name
        FROM tb_user tu
        <if test="roomId != null">
            LEFT JOIN tb_room_user tru ON tru.user_id = tu.id AND tru.room_id = #{roomId}
        </if>
        <where>
            <if test='excludeOwnYn != null and excludeOwnYn == "Y"'>
                AND tu.id != #{userId}
            </if>
            <if test="name != null">
                AND tu.name like  '%' || #{name} || '%'
            </if>
            <if test="roomId != null">
                <choose>
                    <when test='excludeExitingUserYn != null and excludeExitingUserYn == "Y"'>
                        AND tru.id IS NULL
                    </when>
                    <otherwise>
                        AND tru.id IS NOT NULL
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

    <select id="getUser" parameterType="String" resultType="User">
        SELECT tu.*
        FROM tb_user tu
        WHERE tu.username = #{username}
    </select>

    <insert id="insertUser" parameterType="UserSignUpObject">
        INSERT INTO tb_user
        (
            username
          , password
          , email
          , name
        )
        VALUES
        (
            #{username}
          , #{password}
          , #{email}
          , #{name}
        )
    </insert>

    <update id="updateUser" parameterType="Map">
        UPDATE tb_user
        SET refresh_token = #{refreshToken}
        WHERE username = #{username}
    </update>

    <select id="validationRefreshToken" resultType="User">
        SELECT username
             , email
             , role
        FROM tb_user
        WHERE username = #{param1}
         AND refresh_token = #{param2}
    </select>

    <select id="validateUserSignUpData" parameterType="UserSignUpObject" resultType="Map">
        SELECT
            COALESCE(
                CASE
                    WHEN count(1) > 0
                    THEN '422,사용 중인 아이디입니다.'
                END, ''
            ) res_err
        FROM tb_user
        WHERE username = #{username}
    </select>
</mapper>